body {
  font-size: 100%;
  font-family: Montserrat, "Open Sans", Helvetica, Arial, sans-serif;
  padding: .5rem;
}

main {
  border: 1px solid red;
}

p {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-weight: lighter;
  color: #2d2d2d;
}

/* TODO: size images manually so this is not necessary */
img {
  width: 12.5rem;
  height: auto;
  margin: 1rem 0;
}

.logo {
  width: 4rem;
  order: ;
}

/***************** NAV *****************/

nav {
  width: 100%;
  order: 2;
  margin: 1rem 0;
}

nav ul {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

li a {
  text-decoration: none;
}

nav a:hover {
  text-decoration: underline;
}

/**************** HERO *****************/

header {
  display: flex;
  flex-flow: row wrap;
  align-content: space-around;
}

header:nth-child(1) {
  border: 1px solid red;
  width: auto;
  align-self: flex-start;
  margin: auto;
}

header img {
  height: 3.125rem;
}

h1 .logo-w {
  font-size: 3.5rem;
}

/**************** ASIDE ****************/

aside {
  width: 100%;
  order: 3;
  border: 1px solid red
}

input[type="submit"] {
  padding: .25rem;
  background-color: #3D7FCF;
  border: 1px solid #3D7FCF;
  border-radius: 0.3125rem;
  font-size: .75rem;
  color: white;
}

/*********** PRODUCTS SECTION ***********/

section {
  height: 90%;
}

.item-container {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;  
}

.item {
  border: 1px solid red;
  width: 15.63rem;
  align-self: flex-start;
  padding: 2rem 1rem;
  margin: 1rem auto;
  height: auto;
  font-size: .8rem;
  text-align: center;
  border-radius: .3rem;
}

h2 {
  margin: 1rem;
  font-size: 1.75rem;
  text-align: center;
  color: #2d2d2d;
}

h3 {
  font-size: 1.25rem;
  text-align: center;
  color: #2d2d2d;
}
