/*Use media queries for resizing or some kind of grid system with fixed row height*/

body {
  font-size: 100%;
  font-family: Montserrat, "Open Sans", Helvetica, Arial, sans-serif;
  width: 98%;
  padding: 1%
}

main {
  width: 100%;
  border: 1px solid red;
}

p {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-weight: lighter;
  color: #2d2d2d;
}

/* TODO: size images manually so this is not necessary */
img {
  max-height: 10rem;
  margin: 1rem 0;
}

/***************** NAV *****************/

nav a:hover {
  text-decoration: underline;
}

/**************** HERO *****************/

header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  border: 1px solid red;
}

header * {
}

header img {
  max-height: 6rem;
}

h1 .logo-w {
  font-size: 3.5rem;
}

header::after {

}

/**************** ASIDE ****************/

aside {
  width: 30%;
  border: 1px solid red
}

input[type="submit"] {
  padding: .25rem;
  background-color: #3D7FCF;
  border: 1px solid #3D7FCF;
  border-radius: 5px;
  font-size: .75rem;
  color: white;
}

/*********** PRODUCTS SECTION ***********/

section {
  
}

.item-container {
  width: 98%;
  padding: 0 .75rem;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;  
}

.item {
  border: 1px solid red;
  width: 250px;
  align-self: flex-start;
  padding: 1%;
  margin: auto;
  height: 250px;
  font-size: .8rem;
  text-align: center;
}

h2 {
  padding-top: 1.5rem;
  font-size: 2rem;
  text-align: center;
  color: #2d2d2d;
}

h3 {
  font-size: 1.2rem;
  text-align: center;
  color: #2d2d2d;
}
