/***************** STYLES FOR MOBILE FIRST *****************/
body {
  font-size: 100%;
  font-family: Helvetica, Arial, sans-serif;
  padding: .5rem; }

p {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: lighter;
  color: #2d2d2d;
  margin-bottom: .5rem; }

/***************** NAV *****************/
nav {
  width: auto;
  background-color: royalblue;
  border-radius: .4rem; }

nav ul {
  color: aliceblue;
  padding: .3rem 0; }

li {
  width: 100%;
  text-align: center;
  margin: .5rem 0; }

li a {
  text-decoration: none;
  color: aliceblue; }

ul li:hover {
  text-decoration: underline; }

/***************** HEADER *****************/
.logo {
  width: auto;
  height: 4rem; }

.logo-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start; }

h1 {
  font-family: "Merriweather", serif;
  font-size: 2.5rem;
  color: lightslategray;
  margin: 1rem;
  -ms-flex-item-align: end;
      align-self: flex-end; }

h1 span {
  font-family: "Merriweather", serif;
  color: royalblue; }

h1 .logo-w {
  font-family: "Merriweather", serif;
  font-size: 3.5rem; }

/**************** ASIDE ****************/
aside {
  width: auto;
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
  background-color: lightslategray;
  border-radius: .4rem;
  padding: .5rem; }

input[type="submit"] {
  padding: .25rem;
  background-color: #3D7FCF;
  border: 1px solid royalblue;
  border-radius: 0.3125rem;
  font-size: .75rem;
  color: white; }

aside p {
  color: white; }

label {
  color: lightblue; }

/*********** PRODUCTS SECTION ***********/
section {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(135, 149, 255, 0.1)));
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(135, 149, 255, 0.1)); }

.item-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start; }

.item-container img {
  margin: 1rem 0;
  border-radius: .4rem; }

.item {
  width: 24rem;
  -ms-flex-item-align: start;
      align-self: flex-start;
  padding: 2rem 1rem;
  margin: 1rem auto;
  height: auto;
  font-size: .8rem;
  text-align: center;
  background-color: lightgray;
  border-radius: .4rem; }

h2 {
  margin: 1rem;
  width: 100%;
  font-size: 1.75rem;
  text-align: center;
  color: royalblue;
  font-family: "Merriweather", serif; }

h3 {
  font-size: 1.5rem;
  text-align: center;
  color: #2d2d2d;
  font-family: "Merriweather", serif; }

h4 {
  margin: 1rem;
  font-size: 1.75rem;
  text-align: center;
  color: white;
  font-family: "Merriweather", serif; }

/*********** FORM STYLES SECTION ***********/
form {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

label {
  -ms-flex-item-align: start;
      align-self: flex-start;
  width: 100%;
  margin: 1rem 0; }

input {
  border: 1px solid gray;
  border-radius: .2rem;
  padding: .3rem;
  width: 90%; }

button {
  color: white;
  background-color: royalblue;
  border: 1px solid royalblue;
  border-radius: .3rem; }

button:hover {
  background-color: #0033cc;
  border: 1px solid #0033cc; }

.send-button {
  background-color: royalblue;
  width: 10rem;
  margin: 1rem 0;
  height: 2rem;
  border-color: aliceblue;
  border-radius: .5rem;
  border-style: solid;
  color: aliceblue; }

/*********** MEDIA QUERIES SECTION ***********/
/* Media query for larger screens */
@media (min-width: 565px) {
  body {
    font-size: 100%;
    font-family: Helvetica, Arial, sans-serif;
    padding: .5rem; }

  p {
    font-family: "Source Sans Pro", sans-serif;
    font-weight: lighter;
    color: #2d2d2d;
    margin-bottom: .5rem; }

  /***************** NAV *****************/
  nav {
    width: auto;
    background-color: royalblue;
    border-radius: .4rem; }

  nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    color: aliceblue; }

  li a {
    text-decoration: none;
    color: aliceblue; }

  li {
    width: 25%; }

  ul li:hover {
    text-decoration: underline; }

  /**************** HERO *****************/
  .logo-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -ms-flex-line-pack: justify;
        align-content: space-between;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start; }

  h1 {
    font-size: 2.5rem;
    color: lightslategray;
    margin: 1rem;
    -ms-flex-item-align: end;
        align-self: flex-end; }

  h1 span {
    color: royalblue; }

  h1 .logo-w {
    font-size: 3.5rem; }

  /**************** ASIDE ****************/
  aside {
    width: 100%;
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
    background-color: lightslategray;
    border-radius: .4rem;
    padding: .5rem; }

  input[type="submit"] {
    padding: .25rem;
    background-color: #3D7FCF;
    border: 1px solid royalblue;
    border-radius: 0.3125rem;
    font-size: .75rem;
    color: white; }

  aside p {
    color: white; }

  label {
    color: lightblue; }

  /*********** PRODUCTS SECTION ***********/
  section {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(rgba(135, 149, 255, 0.1)));
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(135, 149, 255, 0.1)); }

  .item-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start; }

  .item-container img {
    margin: 1rem 0;
    border-radius: .4rem; }

  .item {
    width: 24rem;
    -ms-flex-item-align: start;
        align-self: flex-start;
    padding: 2rem 1rem;
    margin: 1rem auto;
    height: auto;
    font-size: .8rem;
    text-align: center;
    background-color: lightgray;
    border-radius: .4rem; }

  h2 {
    margin: 1rem;
    font-size: 1.75rem;
    text-align: center;
    color: royalblue; }

  h3 {
    font-size: 1.5rem;
    text-align: center;
    color: #2d2d2d; }

  h4 {
    margin: 1rem;
    font-size: 1.75rem;
    text-align: center;
    color: white; }

  /*********** FORM STYLES SECTION ***********/
  form {
    width: 90%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }

  label {
    -ms-flex-item-align: start;
        align-self: flex-start;
    width: 100%;
    margin: 1rem 0; }

  input {
    border: 1px solid gray;
    border-radius: .2rem;
    padding: .3rem;
    width: auto; }

  .send-button {
    background-color: royalblue;
    width: 10rem;
    margin: 1rem 0;
    height: 2rem;
    border-color: aliceblue;
    border-radius: .5rem;
    border-style: solid;
    color: aliceblue; } }

/*# sourceMappingURL=stylesheet.css.map */